.Desktop{
    background-color: inherit;
    width: 85vw;
    height: 100vh;
    float: right;
}

.Desktop-VideoPreview{
    width: 72%;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: gray;    
}

.Desktop-Timeline{
    width: 100%;
    margin: auto;
    background-color: gray;    
}