.MainPane{
    background-color: inherit;
    width: 85%;
    height: 100vh;
    float: right;
}

.MainPane-VideoPlayer{
    width: 90%;
    height: 70%;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.MainPane-UnderStrip{
    width: 100%;
    height: 30%;
    margin: auto;
    background-color: gray;    
}